<% if flash[:notice] %>
  <div class="alert alert-success">
    <p id="notice"><%= notice %></p>
  </div>
<% end %>

<h2 class="lists_title">My personal lists</h2>
<hr>
<%= render @personal_lists %>

<h2 class="lists_title">Public lists</h2>
<hr>
<%= render @public_lists_from_users %>

<h2 class="lists_title">Favorite lists</h2>
<hr>
<%= render @favorites_lists %>
