<h2>New Todo List</h2>

<table>
  <tbody>
    <div class="form-group">
      <%= render 'form', todo_list: @todo_list %>
    </div>
  </tbody>
</table>

<div class="links">
  <%= link_to 'Back', todo_lists_path %>
</div>
