<% if flash[:notice] %>
  <div class="alert alert-success">
    <p id="notice"><%= notice %></p>
  </div>
<% end %>

<h2>Welcome to our index page</h2>
<p>I've just said welcome? I mean... Welcome. Be your self at home and welcome again.</p>
